{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>Historique des créances</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Date
        <th>Créancier
        <th>Débiteur
        <th>Boisson
        <th>Montant
      {%- for creance in creances %}
      <tr class={{ "paid" if creance.paid }}>
        <td><a href="/creances/{{ creance.id }}">{{ creance.id }}</a>
        <td>{{ creance.pub_date.strftime('%Y-%m-%d %H:%M') }}
        <td>{{ creance.creancier }}</td>
        <td>{{ creance.debiteur }}</td>
        <td>{{ creance.drink }}</td>
        <td style={{ "text-decoration:line-through" if creance.paid }}>{{
          creance.debt_value }}</td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('new') }}" class="btn btn-large btn-primary">New Debt</a>
</div>

{% endblock %}
