<!doctype html>
<title>vélos & IPGP</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
#map {
  position:relative;
  top:20px;
  bottom:10px;
  right:0;
  left:20px;
}
footer {
  position:relative;
  top:20px;
}

.buttons-map li {
    position: relative;
    top: 3px;
    bottom: 3px;
    display: inline;
}
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="/">Vélos & IPGP</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/ipgp">nearby IPGP</a></li>
						<li><a href="/paris">Paris</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
</div>

<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	<hr>
	<footer id="footer">
        <!--
        <p>Thomas Belahi 2013</p>
        -->
        <p> based on <a href="http://bit.ly/17SXQXl">this tutorial</a> </p>
				<p>App built using Flask and Bootstrap, powered by Heroku</p>
	</footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48685483-2', 'auto');
  ga('send', 'pageview');

</script>
