{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Ajout d'une créance</h2>
    <!-- creancier -->
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="creancier" class="input-xlarge"
            placeholder="Qui possède la dette ?" value="{{ request.form.creancier }}"
            required>
        </div>
    </div>

    <!-- debiteur -->
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="debiteur" class="input-xlarge"
            placeholder="Qui doit de l'argent ?" value="{{ request.form.debiteur }}"
            required>
        </div>
    </div>

    <!-- drink -->
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="drink" class="input-xlarge"
            placeholder="Quelle était la boisson ?" value="{{ request.form.drink }}"
            required>
        </div>
    </div>

    <!-- montant de la creance -->
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="debt_value" class="input-xlarge"
            placeholder="Quel était le prix ?" value="{{
            request.form.debt_value }}"
        </div>
    </div>
    <p> </p>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Debt</button>
          <a href="{{ url_for('coffeemachine') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}
