{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Ajout d'une créance</h2>
    <!-- creancier -->
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="Qui possède la dette ?" value="{{ request.form.creancier }}"
            required>
        </div>
    </div>

    <!-- debiteur -->
    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=1 class="input-xlarge" placeholder="Qui
            doit de l'argent ?" required>{{ request.form.debiteur }}</textarea>
        </div>
    </div>

    <!-- drink -->
    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=1 class="input-xlarge" placeholder="Quelle était la boisson consommée ? "
            required>{{ request.form.drink }}</textarea>
        </div>
    </div>

    <!-- montant de la creance -->
    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=1 class="input-xlarge" placeholder="Quel
            est le montant de la créance ? (ex: 0.40 €)"  required>{{ request.form.debt_value }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create Debt</button>
          <a href="{{ url_for('coffeemachine') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}
